{
    admin off
    persist_config off
    auto_https off
}

:{$PORT:3000} {
    root * dist

    encode gzip

    @index {
        path / /index.html
    }

    header @index Cache-Control "no-cache, no-store, must-revalidate"
    header @index Pragma "no-cache"
    header @index Expires "0"

    try_files {path} /index.html
    file_server
}