{
    admin off
    persist_config off
    auto_https off
}

:{$PORT:3000} {
    root * dist

    encode gzip

    @no_cache {
        path / /index.html /stockfish/stockfish.wasm
    }

    header @no_cache Cache-Control "no-cache, no-store, must-revalidate"
    header @no_cache Pragma "no-cache"
    header @no_cache Expires "0"

    try_files {path} /index.html
    file_server
}